
<h1> Ranking | Name | Upvote </h1>
<h1><%= button_to("View all Media", root_path, method: :get) %></h1>
<% items.each do |item| %>
  <tr>
    <td>Ranked:<%= item.votes.count %><%=link_to item.name, item, method: :get %><%= button_to 'upvote', votes_item_path(item), method: :post %></td>
<% end %>
    <td><%= link_to 'view all media', root_path %></td>
    <td><%= link_to "add a #{items}", new_items_path%></td>
  </tr>
