
<%= form_for items do |item| %>
  <%= item.text_field :name %>
  <%= item.text_field :creator %>
  <%= item.text_area :description, size: "60x12" %>
  <%= item.submit :save %>
<% end %>


<h1><%=link_to "#{item.name}", item, method: :get ) %></h1>
